:root {
  --active-blu: #2196f3;
  --main-black: #757575;
  --second-black: #212121;
  --main-white: #ffffff;
  --back-ground-black: #2f303a;
  --back-ground-grey: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--main-white);
  color: var(--main-black);
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

/* site navigation*/
.link:hover,
.link:focus {
  color: var(--active-blu);
}

.navigation {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.list-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-navigation {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    padding: 32px 0;
  }
}

.list-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.list-navigation__link {
  color: var(--second-black);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:first-child) {
    margin-top: 10px;
  }
}

.contacts-list__link {
  color: var(--main-black);
  display: inline-flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-list__link--tel {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__icon-mail {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon-mail {
    margin-right: 10px;
  }
}

.contacts-list__link--mail:hover .contacts-list__icon-mail,
.contacts-list__link--mail:focus .contacts-list__icon-mail {
  fill: var(--active-blu);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__icon-tel {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon-tel {
    margin-right: 10px;
  }
}

.contacts-list__link--tel:hover .contacts-list__icon-tel,
.contacts-list__link--tel:focus .contacts-list__icon-tel {
  fill: var(--active-blu);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-navigation__link--primary {
  color: var(--active-blu);
}

.list-navigation__link--primary::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-blu);
  display: block;
  border-radius: 2px;
  position: absolute;
  margin-top: 31px;
}

.hero-section {
  background-color: var(--back-ground-black);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/img-bg-2x.jpg);
  }
}

.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-section__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--main-white);
  text-align: center;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.advantage-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .advantage-section {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-advantage {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-advantage {
    display: flex;
  }
}

.list-advantage__item {
  margin-bottom: 30px;
}

.list-advantage__item::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-advantage__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.list-advantage__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.list-advantage__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.list-advantage__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .list-advantage__item {
    width: 450px;
  }
  .list-advantage__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-advantage__item {
    margin-bottom: 0;
    margin-top: 30px;
    margin-left: 30px;
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .list-advantage__item {
    width: 270px;
    margin-bottom: 0;
  }
  .list-advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.list-title--list-advantage {
  color: var(--second-black);
  width: 320px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .list-title--list-advantage {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-title--list-advantage {
    width: 354px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .list-title--list-advantage {
    width: 270px;
    text-align: left;
  }
}

@media screen and (min-width: 0) and (max-width: 1199px) {
  .services-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services-section {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 0) and (max-width: 1199px) {
  .services-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services-list {
    display: flex;
  }
}

@media screen and (min-width: 0) and (max-width: 1199px) {
  .services-list__item {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services-list__item {
    position: relative;
  }
  .services-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 0) and (max-width: 1199px) {
  .list-title--services-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .list-title--services-list {
    text-align: center;
    color: var(--main-white);
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.team-section {
  background-color: var(--back-ground-grey);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-team {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-team {
    display: flex;
  }
}

.list-team__item {
  background-color: var(--main-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .list-team__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .list-team__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.list-team__content {
  padding: 30px 0 24px 0;
}

@media screen and (min-width: 1200px) {
  .list-team__content {
    padding: 30px 0;
  }
}

.list-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-black);
  text-align: center;
}

.list-team__paragraf {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.list-team__socials {
  margin-top: 16px;
}

.clients-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding: 94px 0;
  }
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.list-clients__link {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-clients__link:hover, .list-clients__link:focus {
  border: 1px solid var(--active-blu);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .list-clients__link {
    width: 170px;
  }
}

.list-clients__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .list-clients__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-clients__item {
    flex-basis: calc(100% / 3 - 60px);
  }
}

.list-clients__link:hover .list-clients__icon,
.list-clients__link:focus .list-clients__icon {
  fill: var(--active-blu);
}

.list-clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--back-ground-black);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-list__item {
  margin-top: 20px;
}

.footer-list__item:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list__item {
    text-align: left;
  }
  .footer-list__item:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-list__link-map {
  font-style: normal;
  color: var(--main-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link-contact {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-container__address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-container__address {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__social-container {
  margin-bottom: 60px;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .footer__social-container {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer__title {
  color: var(--main-white);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.list-socials__link--bg-gray {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socials__icon--white {
  fill: var(--main-white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-container {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus {
  border-color: var(--main-white);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    padding-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    padding-bottom: 50px;
    justify-content: center;
  }
}

.button-list__item {
  margin-top: 15px;
}

.card-text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-black);
  margin-bottom: 4px;
}

.card-text__paragraf {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-black);
}

@media screen and (min-width: 768px) {
  .portfolio-section__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-link {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .top-card__text,
.card-link:focus .top-card__text {
  transform: translateY(0);
}

.card-list__item {
  margin-left: 0px;
  width: 450px;
}

.card-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__item {
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .card-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list__item {
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
  }
  .card-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-text {
    flex-grow: 1;
  }
}

.card-list__container {
  position: relative;
  overflow: hidden;
}

.top-card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white);
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--blu {
  color: var(--active-blu);
}

.navigation__logo {
  padding-bottom: 25px;
  padding-top: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}

.footer-container__logo {
  color: var(--main-white);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

/* hero-button*/
.hero-section__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-white);
  background-color: var(--active-blu);
  margin: 30px auto 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
}

/* form-button */
.form__button {
  width: 200px;
  height: 50px;
  color: var(--main-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: block;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.form__button:hover, .form__button:focus {
  background-color: #188ce8;
}

/* portfolio-buttoms */
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-black);
  background-color: var(--back-ground-grey);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--active-blu);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--primary {
  color: var(--main-white);
  background-color: var(--active-blu);
}

/* footer-button */
.footer-form__btn {
  background-color: var(--active-blu);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.footer-form__icon {
  fill: var(--main-white);
  margin-left: 10px;
}

.mob-menu-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn .mob-menu-btn__icon:hover,
.mob-menu-btn .mob-menu-btn__icon:focus {
  fill: var(--active-blu);
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu__close-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__close-btn .mob-menu__icon-close-btn:hover,
.mob-menu__close-btn .mob-menu__icon-close-btn:focus {
  fill: var(--active-blu);
}

@media screen and (min-width: 768px) {
  .mob-menu__close-btn {
    display: none;
  }
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__container {
  transform: rotate(90deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__container {
  width: 450px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(90deg);
  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .backdrop__container {
    width: 528px;
  }
}

.backdrop__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop__close-btn:focus .backdrop__close-icon {
  fill: var(--active-blu);
}

.backdrop__close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close-icon:hover, .backdrop__close-icon:focus {
  fill: var(--active-blu);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-container__title {
  width: 370px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-container__title {
    width: 100%;
    line-height: 1.15;
  }
}

.form__container {
  height: 58px;
  margin-bottom: 10px;
}

.form-input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--second-black);
  outline: none;
  display: block;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:focus {
  border-color: var(--active-blu);
}

.form-input:focus + .form-input__icon {
  fill: var(--active-blu);
}

@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}

.form__container-input {
  position: relative;
}

.form-input__icon {
  fill: var(--second-black);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  display: block;
}

.form-textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  display: block;
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form-textarea {
    width: 448px;
  }
}

.check-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__check {
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
}

.check__input {
  display: flex;
}

.check-label__icon {
  fill: #ffffff;
}

.check__link {
  color: var(--active-blu);
  text-decoration: underline;
  margin-left: 4px;
}

.check__input:checked + .check-label .check-label__item {
  background-color: var(--active-blu);
  border: none;
}

.visually-hidden {
  display: none;
}

.check-label__item {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-socials {
  display: flex;
  justify-content: center;
}

.list-socials__item {
  width: 44px;
  height: 44px;
}

.list-socials__item:not(:last-child) {
  margin-right: 10px;
}

.list-socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socials__link:hover, .list-socials__link:focus {
  fill: #ffffff;
  background-color: var(--active-blu);
}

.mob-menu {
  position: fixed;
  background-color: var(--main-white);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-bottom: 48px;
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  color: var(--second-black);
}

.mob-menu-list__link--primary {
  color: var(--active-blu);
}

.mob-contacts-list__item:first-child {
  padding-top: 32px;
}

.mob-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-list__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--active-blu);
}

.mob-contacts-list__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-black);
}

.mob-menu__socials {
  margin-top: 64px;
}

.mob-menu-socials-list {
  list-style: none;
  display: flex;
}

.mob-menu-socials-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-socials-list__item:not(:first-child) {
  padding-left: 10px;
}

.mob-menu-socials-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--active-blu);
}
/*# sourceMappingURL=main.css.map */