.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  padding-bottom: 94px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: -15px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
    justify-content: center;
  }
}

.button-list__item {
  margin-top: 15px;
}

.card-text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-black);
  margin-bottom: 4px;
}

.card-text__paragraf {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-black);
}

.portfolio-section__card-list {
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  }
}

.card-link {
  display: inline-block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .top-card__text {
    transform: translateY(0);
  }
}

.card-list__item {
  margin-left: 0px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  width: 450px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}

.card-list__container {
  position: relative;
  overflow: hidden;
}

.top-card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white);
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
