.services-section {
  @media screen and (min-width: 0) and (max-width: 1199px) {
    display: none;
    }

  @media screen and (min-width: 1200px) {
  padding-bottom: 94px;
  }
}

.services-list {
  @media screen and (min-width: 0) and (max-width: 1199px) {
      display: none;
  }
  @media screen and (min-width: 1200px) {
  display: flex;
  }
}

.services-list__item {
  @media screen and (min-width: 0) and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
    }
  }
}

.list-title--services-list {
 @media screen and (min-width: 0) and (max-width: 1199px) {
    display: none;
    }
  @media screen and (min-width: 1200px) {
  text-align: center;
  color: var(--main-white);
  background-color: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  bottom: 0;
  }
}
